.score-table {
  min-width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.table {
  position: absolute;
  width: 100%;
  height: 100%;
}

.table-header,
.table-item {
  width: 100%;
  min-height: 40px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.table-header > th,
.table-item > td {
  width: 20%;
}

.table-item > td {
  text-transform: uppercase;
}

.table-header {
  margin: 50px 0 20px;
  font-size: 22px;
  letter-spacing: 2px;
}

.table-btn {
  background: transparent;
  color: white;
  font-size: 22px;
  padding: 3px;
  min-width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.table-btn:hover {
  cursor: pointer;
}

.arrow-win,
.arrow-time {
  width: 18px;
  height: 18px;
  margin: 5px;
  background: url(../../../assets/arrow.svg) center/contain no-repeat;
  transform: rotate(90deg);
}

.arrow-win.up,
.arrow-time.up {
  transform: rotate(-90deg);
}

.table-img {
  width: 40px;
  height: 40px;
}

.table-img > svg {
  height: 100%;
}

@media (max-width: 500px) {
  .score-table {
    min-width: 300px;
  }
  .table-item > td {
    width: 50px;
    letter-spacing: 2px;
  }
}
