.content {
  width: 1200px;
  min-height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

@media (max-width: 1400px) {
  .content {
    width: 800px;
    min-height: 800px;
  }
}

@media (max-width: 900px) {
  .content {
    width: 700px;
    min-height: 800px;
  }
}

@media (max-width: 750px) {
  .content {
    width: 500px;
    min-height: 800px;
  }
}

@media (max-width: 500px) {
  .content {
    width: 300px;
    min-height: 800px;
  }
}