.garage-header,
.garage-pages,
.score-header,
.score-pages {
  width: 200px;
  height: 100%;
  margin: 10px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 25px;
  color: white;
}

.garage-header,
.score-header {
  font-size: 32px;
}