.car-block {
  width: 100%;
  margin: 10px;
  border-bottom: 3px dotted white;
}

.car-select,
.car-road-block {
  height: 51px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.car-select {
  align-items: center;
}

.road-btns {
  display: flex;
  margin-right: 15px;
}

.road {
  display: flex;
  width: 100%;
  position: relative;
}

.btn-start,
.btn-stop {
  align-self: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
	background-color: transparent;
  border: 3px solid rgb(119, 119, 118);
	border-radius: 5px;
	color:rgb(119, 119, 118);
}

.btn-start.active {
  border: 3px solid rgba(94, 247, 24, 0.911);
	color: rgba(94, 247, 24, 0.911);
}

.btn-stop.active {
  border: 3px solid rgba(247, 24, 24, 0.911);
	color: rgba(247, 24, 24, 0.911);
}

.btn-start.active:hover {
  background: rgba(94, 247, 24, 0.911);
	color: black;
}

.btn-stop.active:hover {
  background: rgba(247, 24, 24, 0.911);
	color: black;
}

.flag {
  position: absolute;
  right: 8%;
  width: 50px;
  height: 50px;
}

.car-name {
  margin: 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(248, 204, 6, 0.842);
  letter-spacing: 5px;
}

.car {
  z-index: 5;
  width: 65px;
  height: 65px;
  background: transparent;
  position: relative;
}

.car > svg,
.flag > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .flag {
    right: 15%;
  }
}

@media (max-width: 750px) {
  .car-road-block {
    flex-direction: column;
    align-items: flex-start;
    height: 110px;
  }

  .flag {
    right: 17%;
  }
}

@media (max-width: 500px) {
  .flag {
    right: 28%;
  }
}