.garage-block {
  width: 100%;
	height: calc(115px * 7);
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.cars-wrapper {
  width: 100%;
	position: absolute;
  top: 0;
}

.message {
  text-align: center;
  display: none;
  position: absolute;
  width: 500px;
  height: 100px;
  background: transparent;
  font-size: 60px;
  color: yellow;
  text-shadow: 10px 10px 10px  tomato;
}

.message.visible {
  display: block;
}

@media (max-width: 750px) {
  .garage-block {
    height: calc(175px * 7);
  }
}

@media (max-width: 500px) {
  .message {
    width: 300px;
    /* height: 100px; */
    font-size: 40px;
  }
}

